<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Edit Your Comment</title>
    <link rel="stylesheet" href="/edit.css">
</head>

<body>
    <h1>Comment Edit</h1>

    <form method="post" action="/comments/<%= comment.id %>?_method=PATCH">
        <label for="update">Update Comment</label>
        <textarea name="comment" id="update" cols="30" rows="10">
        <%= comment.comment %>
        </textarea>

        <button>Submit!</button>
    </form>
</body>

</html>