body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
}

h1 {
    color: #007BFF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

a.create-link {
    display: block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

a.create-link:hover {
    background-color: #0056b3;
}